#!/usr/bin/env direnv

strict_env
log_status "Detecting OS..."
source_env "$PWD/os"

# Set the containing parent repository using portable pathing wrappers
WORKSPACE="$PWD/.."
echo "$WORKSPACE"
printf '%q' $(path $WORKSPACE)
export TOP="$(printf '%q' $(path $WORKSPACE))"

# Add SSH keys
if [[ -z "${HOST_SSH_KEYS:-}" ]]; then
    export HOST_SSH_KEYS="$(printf '%q' $(path $HOME/.ssh))"
fi

log_status "Pulling in build scripts..."
source_env "$PWD/build"

if [[ -f /.dockerenv ]]; then
    exit 0
fi

if ! has docker; then
	log_error "Please install Docker."
	exit 1
fi

if ! docker info &>/dev/null; then
	log_error "Please start Docker."
	exit 1
fi

# Bootstrap the container environment
log_status "Running container bootstrapping code at $PWD/env..."
source_env "$PWD/env"

CONTAINER_ID="$(start)"
export CONTAINER_ID
