#!/usr/bin/env direnv

strict_env
case "$(uname -a)" in
    *Microsoft*)     os="wsl";;
    *microsoft*)     os="wsl";;
    Linux*)     os="linux";;

    CYGWIN*)    os="windows";;
    MINGW*)     os="windows";;
    *Msys)     os="windows";;
esac

source_env "$PWD/$os"
