#!/usr/bin/env direnv

strict_env
PATH_add "$PWD"

files=(
  $PWD/*
)

log_status "Found container CLI scripts at $PWD:"
for f in $PWD/*; do
	log_status "$(echo -e "\t$f")"
done

watch_file "${files[@]}"

if [[ -n "${REPO:-}" ]]; then

  link_exclude_file() {
    if [ ! -f "$2" ]; then
      ln -svnrf "$1" "$2"
      echo "$(basename $2)" >>"$REPO/.git/info/exclude"
    fi
  }

  link_exclude_file "$PWD" "$REPO/devcontainer"
  link_exclude_file "$PWD/justfile" "$REPO/.justfile"
  link_exclude_file "$PWD/Makefile" "$REPO/Makefile.devcontainer"

  if [[ ! -f "$REPO/.envrc" ]]; then
    echo "source_env $PWD/nix-devshell" > "$REPO/.envrc"
  fi

fi
